//- ----------------------------------
//- LANGKAH
//- ----------------------------------

include _mixins

header.o-banner
    h1.u-heading-1=title
    p.o-block.u-text-medium.
        #[strong Langkah] a pour objectif de vous aider à améliorer vos écrits et chasser les éléments disgracieux (répétitions, etc.)#[br]
        Entrez votre texte ci-dessous pour analyser sa structure...

    +textarea("Votre texte...")#input
        +search("large")#submit

    .o-form
        +dropdown("checkbox", "ents", "A vérifier", { repetition: "répetitions", terne: "verbes ternes", passive: "phrases passives", sansverbe: "phrases sans verbe" }, ["repetition", "terne"])

        +dropdown("radio", "model", "Langue", { fr: "Français" }, "fr")

.o-container.u-text-medium.entities#langkah

footer.o-banner
    h2.u-heading-2 A propos
    p.o-block.
        Langkah est le nom de la planète où se déroule l'histoire #[+a("https://www.wattpad.com/209781762-turba-0-le-prix-d%27une-d%C3%A9couverte") TURBA] (par dcampion). Disponible sur Wattpad.#[br]
        #[br]
        #[strong Au fait:]#[br]
        #[strong -] Le code source de l'annotateur est disponible sur #[+a("http://") Github].
        #[br]
        #[strong -] LANGKAH ne s'intéresse pas à vos données. #[strong RIEN] n'est sauvegardé (que ce soit vos textes ou autre chose d'ailleurs).
        #[br]
        #[strong -] Langkah est un service livré tel quel : son créateur et l'administrateur du site n'apportent aucune garantie sur sa disponibilité et déclinent toute responsabilité sur :#[br]
        &nbsp &nbsp &nbsp - le contenu des textes renseignés par les utilisateurs,#[br]
        &nbsp &nbsp &nbsp - les résultats fournis par le dit service,#[br]
        &nbsp &nbsp &nbsp - ce que font les utilisateurs de ces résultats (les utilisateurs restent pleinement propriétaires et responsables des textes.).
        #[br]
        #[strong -] Utilisez ce service à bon escient, pour faire le bien autour de vous, et écrire de meilleures histoires :)

//    .o-form
//        each area in ["HTML", "CSS"]
//            +textarea(area + " code here...", area).u-code.u-text-small(id=area.toLowerCase())

+error("Argh, y a un truc qui marche pas. Essaie encore s'il te plait !")
